{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}



{% block main %}
	<div class="container">
	<h3 style="text-align:center"> <u>Symfony Github Repositories </u> </h3>
	<br>
	<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>Full Name</th>
		<th>Forks Count</th>
		<th>Has Issues</th>
		<th>Watchers</th>
		<th>Clone URL</th>
	</tr>
     {% for repo in repos %}
        <tr>
               <td> {{ repo.name }}	</td>
               <td> {{ repo.full_name }}	</td>
               <td> {{ repo.forks }}	</td>
               <td> {{ repo.has_issues }}	</td>
               <td> {{ repo.watchers }}	</td>
               <td> <a href="{{ repo.clone_url }}">{{ repo.clone_url }}</a>	</td>

        </tr>
    {% else %}
        <p> No repositories found</p>
    {% endfor %}

    </table>
  	</div>

{% endblock %}
